
html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
}

.font-disabled {
    color: rgba(200,10,20,1) !important;
}

.page-body {
    background-image: url('../images/background');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding-top: 200px;
}

.page-content {
    max-width: 1200px;
}

.img-fachschaft {
    width: 360px;
    height: auto;
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
}

.info-body {
    background-color: rgba(240,240,240, 0.8);
    padding: 5px 15px;
    width: 100%;
    border-radius: 4px;
}

.info-label {
    font-weight: 400;
    font-size: 2em;
}

.background-video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

.option-wrapper {
    background-color: rgba(240,240,240, 0.6);
    border-radius: 4px;
}

.option-wrapper:hover {
    background-color: rgba(240,60,0, 0.8);
}

.option {
    text-decoration: none;
    color: #333;
}

.option:hover {
    text-decoration: none;
    color: #111;
}

.option-icon {
    font-size: 140px;
}

.option-title {
    font-size: 40px;
}